<% provide :page_title, I18n.t('hyrax.contact_form.title') %>
<h1>
  <%= t('hyrax.contact_form.title') %>
</h1>
<p>
  <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> is maintained by <a href="https://library.carleton.ca/">Carleton University Library</a>.
</p> 
<h2>Our services</h2>
<p>
  The <a href="https://library.carleton.ca/services/open-access">Library's Open Access repository support</a> includes:
</p>
<ul>
  <li>adding your work to the repository’s collections of scholarly and creative works</li>
  <li>reviewing copyright permissions to make sure that you have the right to republish your work in this repository</li>
  <li>providing information about collections in the repository</li>
</ul>
<p>
  Please contact us at <a href="mailto:Open-Access@cunet.carleton.ca">Open-Access@cunet.carleton.ca</a>. We'll respond as soon as we can during business hours: 8:30 am to 4:30 pm, Monday to Friday.
</p>

<h2>Technical issues?</h2>
<p>
  Not able to access a work? Something not working as you expect? <a href="https://library.carleton.ca/contact#feedback">Please let us know</a>!
</p>
