<% provide :page_title, I18n.t('hyrax.contact_form.title') %>

<!--
<div class="alert alert-info">
  <%= render 'directions' %>
</div>
-->

<h1>
  <%= t('hyrax.contact_form.header') %>
</h1>

<p class="MsoNormal" style="font-size: medium; caret-color: #000000; color: #000000;">
  Questions about this repository can be directed to the Digital Library team at <a href="mailto:digital-library-team@library.carleton.ca">digital-library-team@library.carleton.ca</a>
</p>

<h2>Who we are</h2>
<p class="MsoNormal" style="font-size: medium; caret-color: #000000; color: #000000;">
  <ul>
    <li>Val Critchley, Copyright and Scholarly Communications Librarian</li>
    <li>Alisdair MacRae, Scholarly Communications Technician</li>
    <li>Jen Whitney, Digital Initiatives Librarian</li>
  </ul>
</p>

<h2>Our services</h2>
<p class="MsoNormal" style="font-size: medium; caret-color: #000000; color: #000000;">
  We can help you with
  <ul>
    <li>adding your work to the Digital Library’s collections of scholarly and creative works</li>
    <li>reviewing copyright permissions to make sure that you have the right to republish your work in this repository</li>
    <li>questions about Digital Library collections</li>
    <li>technical issues using this site</li>
  </ul>
  We will respond as soon as we can during Library business hours, from 8:30 am to 4:30 pm, Monday to Friday.
</p>


