<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p>Maintained by <a href="https://library.carleton.ca">Carleton University Library</a></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p>Powered by <a href="https://hyrax.samvera.org/">Hyrax</a> and the <a href="https://samvera.org/">Samvera</a> community.</p>
      </div>
    </div>
  </div>
</footer>
