<footer class="navbar navbar-dark bg-dark site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p>Maintained by <a href="https://library.carleton.ca">Carleton University Library</a>. <%= link_to t(:'hyrax.pages.tabs.terms_page'), hyrax.terms_path %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p>Powered by <a href="https://hyrax.samvera.org/">Hyrax</a> and the <a href="https://samvera.org/">Samvera</a> community.</p>
      </div>
    </div>
  </div>
</footer>
