<h1>Sorry, that page cannot be found due to an internal error</h1>
<%= image_tag "dratcrow.png"%>
<h2> Try searching all collections in Carleton University Digital Library. </h2>
<h3><li> Search all collections <a href="https://digitallibrary-prod1.library.carleton.ca/catalog" alt="Drat! says the Oh No Crow">here </a> </li><h3>
