<h1>Sorry, an unexpected error has occured</h1>
<%= image_tag "dratcrow.png"%>
<p>One of these options might help:</p>
<ul>
  <li><a href="<%= Rails.application.routes.url_helpers.search_catalog_path %>">Search our site</a></li>
  <li>Go to the <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">home page</a></li>
  <li><a href="<%= Hyrax::Engine.routes.url_helpers.contact_path %>">Contact us</a> for help</li>
</ul>
