<div class="col-md-3 text-center">
  <%= document_presenter(document)&.thumbnail&.thumbnail_tag({}, { suppress_link: true }) %>
  <% collection_presenter = Hyrax::CollectionPresenter.new(document, current_ability) %>
  <div class="collection-counts-wrapper m-2 justify-content-center">
    <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_collections %></span>Collections
    </div>
    <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_works %></span>Works
    </div>
    </div>
</div> 

