// Navbar edits
.navbar-brand {
  padding: 3px 15px;
}

.navbar-brand > img {
  display: inline;
}

.image-masthead .navbar .navbar-nav li {
  background-color: black;
  a {
    text-transform: none;
  }
}
