// Navbar edits
.navbar-brand {
  padding: 3px 15px;
}

.navbar-brand > img {
  display: inline;
}

.image-masthead .navbar .navbar-nav li {
  background-color: black;
  a {
    text-transform: none;
  }
}

footer.site-footer a {
  border-bottom: 1px solid #767676;
  padding-bottom: 4px;
  color: #dfdfdf;
  &:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
    text-decoration: none;
  }
}
