// Use Carleton fonts 
body {
  font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,-apple-system,blinkmacsystemfont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

// hyrax/_home-page.scss
// Masthead image blur bleeds under navbar - turn off blur
.image-masthead .background-container {
  -webkit-filter: none;
  filter: none;
}
// ... and float images in Explore Collections tab
.collection-highlights img {
  float: left;
}