<h1>Deposit Agreement</h1>
<p>To have your work included in the <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a>, you must agree to the terms of the following Deposit Agreement.</p>

<p>To properly administer this repository and preserve the contents of the <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> for future use, <a href="https://carleton.ca/">Carleton University</a> requires certain permissions from you, the author(s), or copyright owner.</p>

<p>By accepting this license, you do not alter the existing copyright on the work; you do not give up copyright, nor do you give up the right to submit the work to publishers or other repositories.</p>

<p>You represent and warrant that the submission is your original work, and/or that you have the right to agree to the terms contained in this license.</p>

<p>If you do not hold copyright to the submission, or if the submission contains material for which you do not hold copyright and use of the material is not covered by Fair Dealing exemptions under the <em><a href="https://laws-lois.justice.gc.ca/eng/acts/C-42/Index.html">Copyright Act</a></em>, you represent that you have obtained the unrestricted permission of the copyright owner to grant <a href="https://carleton.ca/">Carleton University</a> the rights required by this license, and that such third-party owned material is clearly identified and acknowledged within the text or content of the submission. You acknowledge that <a href="https://carleton.ca/">Carleton University</a> cannot enforce copyright on your behalf.</p>

<p>You also represent that your submission does not, to the best of your knowledge, infringe upon anyone's rights, including copyrights.</p>

<p>If the submission is based upon work that has been sponsored or supported by an agency or organization other than <a href="https://carleton.ca/">Carleton University</a>, you represent that you have fulfilled any right of review or other obligations required by the agreement with such sponsor.</p>

<p>Unless specified in a separate agreement, you grant to <a href="https://carleton.ca/">Carleton University</a> the non-exclusive, irrevocable, perpetual, royalty-free right to store and distribute your submission (including the metadata and abstract) worldwide, in any format or medium for non-commercial, research, educational, or related academic purposes only.</p>

<p>You agree that <a href="https://carleton.ca/">Carleton University</a> may transform the submission to any medium or format; may make alterations for the purpose of accessibility; and may keep more than one copy for the purposes of security, backup, and long-term preservation of the scholarly record.</p>

<p><a href="https://carleton.ca/">Carleton University</a> will clearly identify your name(s) as the author(s) or owner(s) of the submission, and will not make any alteration, other than as allowed by this license, to your submission.</p>

<p>You may choose to set the terms of use for your submission by applying one of several <a href="https://creativecommons.org/">Creative Commons</a> licenses.</p>

<p>If you choose to apply a <a href="https://creativecommons.org/">Creative Commons</a> license, you authorize <a href="https://carleton.ca/">Carleton University</a> to distribute your content under the terms of that <a href="https://creativecommons.org/">Creative Commons</a> license and to allow <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> users to do the same if your license choice permits that.</p>

<p>You acknowledge that <a href="https://carleton.ca/">Carleton University</a> cannot enforce the terms of your <a href="https://creativecommons.org/">Creative Commons</a> licence on your behalf.</p>

<p>You agree that <a href="https://carleton.ca/">Carleton University</a> is not obligated to store or publish your work and may remove your work from the <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> at any time without giving you notice.</p>

<p><em>Updated March 29, 2023</em></p>