<h1>Terms of Use</h1>

<h2>Definitions</h2>

<p>Site: All pages existing within the repository.library.carleton.ca domain.</p>

<h2>General</h2>

<p>The Site is maintained by <a href="https://library.carleton.ca/">Carleton University Library</a> in support of our mission to collect, preserve, and disseminate scholarly and creative works produced by <a href="https://carleton.ca/">Carleton University</a> faculty, staff, and students as well as archival and special collections; and other digital materials acquired by the Library to support research, teaching, and learning.</p>

<p>The <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> contains a diverse range of works; the ideas expressed within the content are wholly the responsibility of the author(s) and do not represent those of <a href="https://carleton.ca/">Carleton University</a>.</p>

<p>Use of the Site and its contents are subject to the following terms and conditions and all applicable laws. By using the Site or any of its content, you accept and agree to be bound by these Terms of Use and all applicable laws.</p>

<h2>Copyright and use of site content</h2>

<p>The Site itself and the content on the Site are protected by copyright laws. Where content has been made openly available in the <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a>, it has been with consent of the copyright owner or otherwise permitted by the <em><a href="https://laws-lois.justice.gc.ca/eng/acts/C-42/Index.html">Copyright Act</a></em>.  Copyright and all related rights for site content remain with the author or copyright holder. No licence or permission to use the content is granted in these terms except as explicitly set out below. It is the responsibility of the user to ensure they do not infringe on author rights and Canadian copyright law. Carleton Library staff are not able to undertake copyright investigations on behalf of Site users.</p>

<h2>Access to site content</h2>

<p>Where possible, <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> collections are available to the general public. However, some content on this Site is available only to Carleton University users or other user subgroups specified by the depositor. Such content cannot be used, shared, published, downloaded, or distributed outside of Carleton University (or subgroup identified) without the specific permission of the depositor.</p>

<h2>Use of the site and content</h2>

<p>Unless otherwise specified in a work, or in the metadata attached to a work, publicly accessible content may be used for non-commercial research, educational, or related academic purposes only. Such uses include personal study, distribution to students, research and scholarship (including computational research uses such as data and text-mining, citation-extraction, or cross-referencing).</p>

<p>Unless otherwise specified, content may only be shared by linking to the work on the Site and no part may be copied without consent of the author or copyright holder. All use of site content must include proper attribution to the author; no part may be used for commercial purposes directly or indirectly via a for-profit platform; no adaptations or derivative works are permitted without consent from the copyright owner.</p>

<h2> Notice to users about theses/dissertations about LAC harvesting </h2>

<b>Partnership with Theses Canada </b>

<p><a href="https://library-archives.canada.ca/eng/services/services-libraries/theses/Pages/theses-canada.aspx">Theses Canada</a>, a collaborative program between <a href="https://library-archives.canada.ca/eng">Library and Archives Canada  and Canadian universities, acquires and preserve theses and dissertations from participating universities, including Carleton Univeristy. </p>

<p>In submitting a thesis or dissertation, the author can choose to grant a non-exclusive licence to Library and Archives Canada to preserve their work and to make it available online to the public for research and private study. Where an author has granted the licence, open access theses or dissertations managed in the Carleton University Institutional Repository are shared with Library and Archives Canada for preservation and access. </p>

<p>If you believe your thesis has been shared with Library and Archives Canada in error, <a href="https://repository.library.carleton.ca/contact">please contact us</a>.</p>

<h2>Communications</h2>

<p>We respect the intellectual property rights of others. If you believe your rights have been violated on the Site, please notify us at <a href="mailto:copyright@carleton.ca">copyright@carleton.ca</a>.</p>

<p>For all other communications, please <a href="<%= Hyrax::Engine.routes.url_helpers.contact_path %>">contact the repository managers</a>.</p>

<p><em>Updated May 30, 2023</em></p>