<h1>Terms of Use</h1>
<h2>Definitions</h2>
<p>
  Site: All pages existing within the repository.library.carleton.ca domain. 
</p>
<h2>General</h2>
<p>
  The Site is maintained by <a href="https://library.carleton.ca/">Carleton University Library</a> in support of our mission to collect, preserve, and disseminate scholarly and creative works produced by <a href="https://carleton.ca/">Carleton University</a> faculty, staff, and students as well as archives, special collections, and other digital materials acquired by the Library to support research, teaching, and learning.
</p>
<p>
<a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> contains a diverse range of works; the ideas and links stored on this site represent only the author(s) of the content and not Carleton University.
</p>
<p>
  Use of the Site and its contents is subject to the following terms and conditions and all applicable laws. By using the Site or any of its content, you accept and agree to be bound by these Terms of Use and all applicable laws.
</p>
<h2>Copyright and use of site content</h2>
<p>
  The Site itself and the content on the Site are protected by copyright laws. Where content has been made openly available in <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a>, it has been with consent of the copyright owner or otherwise permitted by the <em><a href="https://laws-lois.justice.gc.ca/eng/acts/C-42/Index.html">Copyright Act</a></em>. All rights are reserved by each respective copyright owner. No licence or permission to use the content is granted in these terms except as explicitly set out below. It is the responsibility of the user to ensure they do not infringe on Canadian copyright law and author rights. Copyright for all site content remains with the author. Carleton Library staff are not able to undertake copyright investigations on behalf of Site users.
</p>
<h2>Access to site content</h2>
<p>
  Where possible, <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> collections are available to the general public. However, some content on this Site has been made available only to Carleton University users or other user subgroups specified by the depositor. Such content cannot be used, shared, published, downloaded, or distributed outside of Carleton University (or subgroup identified) without the specific permission of the depositor.
</p>
<h2>Use of the site and content</h2>
<p>
  Unless otherwise specified in the metadata attached to an item, publicly accessible content may be used for non-commercial research, educational, or related academic purposes only. Such uses include personal study, distribution to students, research and scholarship (including computational research uses such as data and text-mining, citation-extraction, or cross-referencing). Unless otherwise specified, content may only be shared by linking to the work on the Site and no part may be copied without proper attribution to the author; no part may be used for commercial purposes directly or indirectly via a for-profit platform; no adaptation or derivative works are permitted without consent from the copyright owner.
</p>
<h2>Communications</h2>
<p>
  We respect the intellectual property rights of others. If you believe your rights have been violated on the Site, please notify us at <a href="mailto:copyright@carleton.ca">copyright@carleton.ca</a>.
</p>
<p>
  For all other communications, please <a href="<%= Hyrax::Engine.routes.url_helpers.contact_path %>">contact the repository managers</a>.
</p>